@font-face {
  font-family: "Lato-Hairline";
  src: url("../fonts/Lato-Hairline.woff") format("woff"),
    url("./fonts/Lato-Hairline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-HairlineItalic";
  src: url("./fonts/Lato-HairlineItalic.woff") format("woff"),
    url("./fonts/Lato-HairlineItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPS-BoldItalicMT";
  src: url("./fonts/TimesNewRoman-Bold-Italic.woff") format("woff"),
    url("./fonts/TimesNewRoman-Bold-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
